.Actions {
  width: 90px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.button {
  filter: brightness(0%);
  opacity: 0.2;

  width: 40px;
  height: 40px;

  outline: none;
  border: 1px, solid, gainsboro;
  border-radius: 30px;
  background: none;
}

.button:hover {
  filter: none;
  opacity: 1;
}
