.Card {
  margin-bottom: 15px;
  padding: 15px;

  text-align: left;
  transition: 0.3s;

  border: 1px solid gainsboro;
  border-radius: 15px;
}
.Card:hover {
  h4 {
    color: blue;
  }
  border-color: blue;
}

h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}
h3 {
  color: #707070;
}
h4 {
  padding-bottom: 15px;
  border-bottom: 1px solid gainsboro;

  color: gainsboro;
  transition: 0.3s;
}
