.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 400px;

  padding: 10px;
  margin-bottom: 8px;

  border: 1px solid gainsboro;
  border-radius: 10px;
}

.done {
  color: gainsboro;
}

.inProgress {
  color: #1a1922;
}

.button {
  margin-left: 10px;

  filter: brightness(0%);
  opacity: 0.2;

  width: 40px;
  height: 40px;

  outline: none;
  border: none;
  background: none;
}

.button:hover {
  filter: none;
  opacity: 1;
}
